meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")

if pageTitle
  title #{pageTitle} - #{site.title}
else
  title= site.title

link(rel="shortcut icon" type="image/png" href="assets/img/favicon.png")

if ogp
  include _ogp.pug

block css
  link(rel="stylesheet" type="text/css" href="assets/css/bootstrap.css")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  link(rel="stylesheet" type="text/css" href="assets/css/default.css")

<!--[if lt IE 9]>
  script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
  script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
<![endif]-->
