meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

if pageTitle
  title #{pageTitle} - #{site.title}
else
  title= site.title

link(rel="shortcut icon" type="image/png" href="assets/img/favicon.png")

if ogp
  include _ogp.pug

block css
  link(rel="stylesheet" type="text/css" href="assets/css/bootstrap.css")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous")
  link(rel="stylesheet" type="text/css" href="assets/css/default.css")
