block scripts
  script(src="lib/jquery/jquery.min.js")
  script(src="lib/bootstrap/js/bootstrap.min.js")
  script(src="assets/js/default.js")
  script(src="https://platform.twitter.com/widgets.js" id="twitter-wjs" async="async")
  #fb-root
  script(src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=238369762859730&version=v2.3" id="facebook-jssdk" async="async")
  script(src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async")
