@charset "UTF-8";
/*!
 * test
 */
@import "compass";
@import "compass/css3";

@import "eli/variables";
@import "honoka/variables";
@import "bootstrap/mixins";

$brand-twitter: #55ACEE;
$brand-facebook: #3B5998;
$brand-hatena: #178fde;

.btn-twitter {
	@include button-variant(#FFF, $brand-twitter, darken($brand-twitter, 2%));
}
.btn-facebook {
	@include button-variant(#FFF, $brand-facebook, darken($brand-facebook, 2%));
}
.btn-hatebu {
	@include button-variant(#FFF, $brand-hatena, darken($brand-hatena, 2%));
}
.btn-twitter,.btn-facebook,.btn-hatebu {
	.fa {
		&.fa-hatebu:before {
			content: "B!";
			font-family: Verdana;
			font-weight: bold;
		}
		&.fa-lg {
			vertical-align: -1px;
			margin-right: 2px;
		}
	}
}

h1 {
	font-weight: bold;
}