@charset "UTF-8";

@import "bootstrap/scss/functions";
@import "eli/variables";
@import "eli/mixins";
@import "honoka/variables";
@import "honoka/mixins";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/buttons";

// stylelint-disable
$brand-honoka:   #ff9800;
$brand-twitter:  #55acee;
$brand-facebook: #3b5998;
$brand-hatena:   #178fde;

$brand-colors: ();
$brand-colors: map-merge((
  "honoka":   $brand-honoka,
  "twitter":  $brand-twitter,
  "facebook": $brand-facebook,
  "hatena":   $brand-hatena
), $brand-colors);
// stylelint-enable

@each $color, $value in $brand-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
    color: #fff;
    border: 1px solid #fff;
  }
}

.btn-twitter,
.btn-facebook,
.btn-hatena {
  .fa.fa-lg {
    vertical-align: -1px;
  }
}

.icon.icon-hatena::before {
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: $font-weight-bold;
  content: "B!";
}

.social {
  padding: $spacer 0;
  background: $gray-300;
}

.social-buttons {
  position: relative;
  padding: $spacer 0;
  /* stylelint-disable-next-line declaration-no-important */
  margin: 0 auto !important;
  overflow: hidden;
  > ul {
    position: relative;
    left: 50%;
    float: left;
    padding: 0;
    margin: 0;
    list-style: outside none none;
    > li {
      position: relative;
      left: -50%;
      float: left;
      padding: 0;
      margin: 0 10px;
    }
  }
}

.fb-like > span {
  /* stylelint-disable-next-line declaration-no-important */
  vertical-align: 0 !important;
}
